<div class="book-info" *ngIf="!isFinished && !message">
  <div class="section">
    <p>Title: </p>
    <input type="text" [value]="this.book[currentIndex].title" #inputTitle>
  </div>
  <div class="section">
    <p>Description:</p>
    <textarea cols="30" rows="15" [value]="this.book[currentIndex].description" #inputDescription></textarea>
  </div>
  <div class="section">
    <p>Author:</p>
    <input type="text" [value]="this.book[currentIndex].author" #inputAuthor>
  </div>
  <p>Rating: {{book[currentIndex].rating}}</p>
  <div class="rating-section">
    <button (click)="saveData(inputTitle,inputDescription,inputAuthor,1)">1</button>
    <button (click)="saveData(inputTitle,inputDescription,inputAuthor,2)">2</button>
    <button (click)="saveData(inputTitle,inputDescription,inputAuthor,3)">3</button>
    <button (click)="saveData(inputTitle,inputDescription,inputAuthor,4)">4</button>
    <button (click)="saveData(inputTitle,inputDescription,inputAuthor,5)">5</button>
  </div>
</div>
<div *ngIf="isFinished">
  <div class="container" >
    <div class="centered-div">
      <div class="inner" (click)="goBack()">I want to rate again!</div>
    </div>
    <div class="centered-div">
      <div class="inner" (click)="messageDisplay()">I'm done!</div>
    </div>
  </div>
</div>
<div class="fin" *ngIf="message">You finished!</div>